<p class="l-cta">
    <a class="back-button pure-button pure-button-primary pure-g" href="/">
        <span class="pure-u">{{> icon-chevron-left}}</span>
        <span class="pure-u">Conference Info</span>
    </a>
</p>
