<a class="brand-compact pure-g" href="/">
    <img class="brand-mark pure-u" src="/img/logo.svg">

    <b class="brand-name pure-u-1">
        <span class="brand-name-part">Economic Growth</span>
        <span class="brand-name-sep">&amp;</span>
        <span class="brand-name-part">Environmental Constraints</span>
    </b>
</a>
