/*
bright: #c3d392
light : #8ea644
medium: #5b8c17
dark  : #375c17
black : #18290a
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "adelle-sans", sans-serif;
}

.pure-button-hover,
.pure-button-active,
.pure-button:hover,
.pure-button:focus,
.pure-button:active {
    filter: none;
    background-image: none;
    box-shadow: none;
}

.pure-button-primary,
a.pure-button-primary {
    background-color: #5b8c17;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pure-button-primary:link,
.pure-button-primary:visited {
    color: #fff;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    line-height: 1.5;
    color: #18290a;
}

h1, h2, h3, h4 {
    font-weight: 600;
    color: #375c17;
}
h2 {
    margin-top: 1.5em;
}
h3 {
    font-size: 1.125em;
}

a:link,
a:visited {
    color: #5b8c17;
    text-decoration: none;
}

.l-wrap {
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.l-cta {
    margin: 3rem 0;
    text-align: center;
}
.l-last {
    padding-bottom: 1rem;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.brand {
    margin-top: 0.5rem;
    text-align: center;
}
.brand-name {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
    color: #375c17;
}
.brand-name-part {
    white-space: nowrap;
}
.brand-name-sep {
    font-weight: 600;
}

.brand .brand-mark {
    display: block;
    width: 120px;
    margin: 1.5rem auto;
}

.brand-compact {
    display: block;
    margin-top: 0.5rem;
    padding-left: 3.5rem;
    text-align: center;
}
.brand-compact .brand-mark {
    width: 3.5rem;
    margin-left: -3.5rem;
    padding-right: 0.5rem;
}
.brand-compact .brand-name {
    margin-top: 0.375rem;
    /* Ugh Safari! */
    width: 99.99%;
}

.event {
    margin-bottom: 2rem;
    padding: 1rem 0;
    color: #fff;
    background: #5b8c17;
}
.event-title,
.event-spacetime {
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #fff;
}
.event-title {
    margin-top: 0;
}
.event-title-part {
    white-space: nowrap;
}
.event-spacetime {
    font-size: 1.375rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
.event-spacetime-sep {
    display: inline-block;
    margin: 0 0.25rem;
    color: #c3d392;
}
.event-time {
    font-size: 1.125rem;
    margin-top: 0.25rem;
    color: #c3d392;
}
.event-attend {
    font-size: 1.25rem;
    padding-left: 2.25em;
    padding-right: 2.25em;
}
.event .l-cta {
    margin: 2rem 0;
}
.event .event-attend {
    color: #375c17;
    background-color: #c3d392;
}

.back-button {
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
}
.back-button .icon {
    fill: #c3d392;
    margin-right: 1rem
}

.speakers {
    padding-left: 0;
}
.speaker {
    list-style: none;
    margin: 0 0 1rem;
    padding: 1rem 0 0;
    text-align: center;
}
.speaker-photo {
    width: 160px;
    margin: 0 auto;
}
.speaker-photo:link,
.speaker-photo:visited {
    text-decoration: none;
}
.speaker-photo img {
    width: 100%;
    height: auto;
    display: block;
}
.speaker-info {
    width: 100%;
    text-align: left;
}
.speaker-name {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5rem auto;
    text-align: center;
}
.speaker-name a:link,
.speaker-name a:visited {
    color: #375c17;
    text-decoration: none;
}
.speaker-org,
.speaker-title {
    font-size: 1.125rem;
}

.topics li {
    margin: 0.5rem 0;
}

.schedule {
    padding-left: 0;
    position: relative;
}
.schedule:before,
.is-first-meeting:before,
.is-last-meeting:before {
    content: "";
    position: absolute;
    display: block;
    left: 25%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #5b8c17;
}
.meeting {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 1rem 0;
}
.meeting:after {
    content: "";
    position: absolute;
    display: block;
    top: 1.25em;
    left: 25%;
    margin-left: -0.5em;
    width: 1em;
    height: 1em;
    border: 2px solid #5b8c17;
    border-radius: 0.5em;
    background: #c3d392;
}
.is-first-meeting {
    padding-top: 0;
}
.is-first-meeting:before,
.is-last-meeting:before{
    width: 4px;
    margin-left: -2px;
}
.is-first-meeting:before {
    height: 0.5em;
    background: #fff;
}
.is-first-meeting:after {
    top: 0.25em;
}
.is-last-meeting {
    padding-bottom: 0;
}
.is-last-meeting:before {
    bottom: 0;
    height: 0.5em;
    background: #fff;
}
.is-minor-meeting:after {
    background: #fff;
}
.meeting-time {
    width: 25%;
    text-align: right;
    padding-right: 1rem;
}
.meeting-info {
    width: 75%;
    text-align: left;
    padding-left: 1rem;
}
.meeting-title {
    display: block;
}
.meeting-speaker {
    text-transform: uppercase;
}

.venue {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-top: 4px solid #c3d392;
    border-bottom: 4px solid #c3d392;
}
.venue-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    color: #fff;
    background: #5b8c17;
    box-shadow: 0 0 2px #18290a;
}
.venue-title {
    font-size: 1.125rem;
    margin: 0.5rem 0;
    color: #c3d392;
}
.venue-name {
    color: #fff;
    white-space: nowrap;
}
.venue-address {
    font-size: 1.125rem;
}
.venue-address a:link,
.venue-address a:visited {
    color: #c3d392;
}
#map {
    height: 100%;
}

.sponsors {
    padding-left: 0;
}
.sponsor {
    width: 100%;
    list-style: none;
    text-align: center;
}
.sponsor-logo {
    height: 70px;
    display: inline-block;
}
.sponsor a {
    display: block;
}

#new_economy {
    font-size: 1.25rem;
    vertical-align: middle;
    margin: 1rem 0;
}
#new_economy a:link,
#new_economy a:visited {
    color: #18290a;
    text-decoration: none;
}
#new_economy .sponsor-logo {
    vertical-align: middle;
}

@media screen and (min-width: 30em) {
    .l-wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .event-spacetime {
        font-size: 1.5rem;
    }

    .schedule:before,
    .meeting:after,
    .is-first-meeting:before,
    .is-last-meeting:before {
        left: 33.3333%;
    }
    .meeting {
        font-size: 1.125rem;
    }
    .is-first-meeting:after {
        top: 0.375em;
    }
    .meeting-time {
        width: 33.3333%;
        padding-right: 1.25rem;
    }
    .meeting-info {
        width: 66.6667%;
        padding-left: 1.25rem;
    }

    .venue-info {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 35.5em) {
    .speaker-photo {
        width: 25%;
    }
    .speaker-info {
        width: 75%;
        padding-left: 1rem;
    }
    .speaker-name {
        margin-top: 0;
        text-align: left;
    }

    .schedule:before,
    .meeting:after,
    .is-first-meeting:before,
    .is-last-meeting:before {
        left: 38%;
    }
    .meeting-time {
        width: 38%
    }
    .meeting-info {
        width: 62%;
    }

    .sponsor {
        width: 50%;
        text-align: left;
    }
    #new_economy {
        text-align: right;
    }
}

@media screen and (min-width: 37.5em) {
    .brand {
        margin-top: 1rem;
    }
    .brand .brand-mark {
        display: block;
        width: 140px;
        margin: 2rem auto;
    }

    .brand-compact {
        margin-top: 1rem;
        padding-left: 5rem;
    }
    .brand-compact .brand-mark {
        width: 5rem;
        margin-left: -5rem;
    }
    .brand-compact .brand-name {
        margin-top: 1rem;
    }

    .venue-info {
        width: auto;
        top: 1rem;
        left: 1rem;
        box-shadow: 0 0 2px #18290a;
    }

    .sponsor-logo {
        height: 80px;
    }
}

@media screen and (min-width: 48em) {
    .content {
        font-size: 1.125rem;
    }

    .brand {
        margin-top: 2rem;
    }
    .brand-name {
        font-size: 1.5rem;
    }
    .brand .brand-mark {
        display: block;
        width: 160px;
        margin: 4rem auto;
    }

    .event-title {
        font-size: 2.5rem;
        margin-top: 0.5rem;
    }
    .event-spacetime {
        font-size: 1.75rem;
    }
    .event-spacetime-sep {
        margin: 0 0.5rem;
    }
    .event-time {
        font-size: 1.375rem;
    }
    .event .l-cta {
        margin: 2.25rem 0;
    }
    .event-attend {
        font-size: 1.5rem;
    }
    .event-desc {
        font-size: 1.25rem;
    }

    .speaker-name {
        font-size: 1.75rem;
    }
}

@media screen and (min-height: 40em) {
    .venue {
        height: 66%
    }
}
