/*
bright: #c3d392
light : #8ea644
medium: #5b8c17
dark  : #375c17
black : #18290a
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "adelle-sans", sans-serif;
}

.pure-button-hover,
.pure-button-active,
.pure-button:hover,
.pure-button:focus,
.pure-button:active {
    filter: none;
    background-image: none;
    box-shadow: none;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    line-height: 1.5;
    color: #18290a;
}

h1, h2, h3, h4 {
    font-weight: 600;
    color: #375c17;
}
h2 {
    margin-top: 1.5em;
}
h3 {
    font-size: 1.125em;
}

a:link,
a:visited {
    color: #5b8c17;
}

.l-wrap {
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.brand {
    margin-top: 0.5rem;
    text-align: center;
}
.brand-name {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
    color: #375c17;
}
.brand-name-part {
    white-space: nowrap;
}
.brand-name-sep {
    font-weight: 600;
}
.brand-mark {
    display: block;
    width: 120px;
    margin: 1.5rem auto;
}

.event {
    margin-bottom: 2rem;
    padding: 1rem 0;
    color: #fff;
    background: #5b8c17;
}
.event-title,
.event-spacetime {
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #fff;
}
.event-title {
    margin-top: 0;
}
.event-title-part {
    white-space: nowrap;
}
.event-spacetime {
    font-size: 1.375rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
.event-spacetime-sep {
    display: inline-block;
    margin: 0 0.25rem;
    color: #c3d392;
}
.event-time {
    font-size: 1.125rem;
    margin-top: 0.25rem;
    color: #c3d392;
}
.event-cta {
    margin: 3rem 0;
    text-align: center;
}
.event .event-cta {
    margin: 2rem 0;
}
.event-attend {
    font-size: 1.25rem;
    padding-left: 2.5em;
    padding-right: 2.5em;
    background-color: #5b8c17;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.event-attend:link,
.event-attend:visited {
    color: #fff;
}
.event .event-attend {
    background-color: #375c17;
}
.event-desc {
    font-size: 1.125rem;
}

.speakers {
    padding-left: 0;
}
.speaker {
    list-style: none;
    margin: 2rem 0;
}
.speaker-photo {
    width: 160px;
    margin: 0 auto;
}
.speaker-info {
    width: 100%;
}
.speaker-name {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5rem auto;
    text-align: center;
}
.speaker-org,
.speaker-title {
    font-size: 1.125rem;
}

.topics p,
.topics li {
    font-size: 1.125rem;
}
.topics li {
    margin: 0.5rem 0;
}

.venue {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-top: 4px solid #c3d392;
    border-bottom: 4px solid #c3d392;
}
.venue-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    color: #fff;
    background: #5b8c17;
    box-shadow: 0 0 2px #18290a;
}
.venue-title {
    font-size: 1.125rem;
    margin: 0.5rem 0;
    color: #c3d392;
}
.venue-name {
    color: #fff;
    white-space: nowrap;
}
.venue-address {
    font-size: 1.125rem;
}
.venue-address a:link,
.venue-address a:visited {
    color: #c3d392;
}
#map {
    height: 100%;
}

.sponsors {
    padding-left: 0;
    padding-bottom: 2rem;
}
.sponsor {
    width: 100%;
    list-style: none;
    text-align: center;
}
.sponsor-logo {
    height: 70px;
    display: inline-block;
}
.sponsor a {
    display: block;
}

#new_economy {
    font-size: 1.25rem;
    vertical-align: middle;
    margin: 1rem 0;
}
#new_economy a:link,
#new_economy a:visited {
    color: #18290a;
    text-decoration: none;
}
#new_economy .sponsor-logo {
    vertical-align: middle;
}

@media screen and (min-width: 30em) {
    .l-wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .event-spacetime {
        font-size: 1.5rem;
    }

    .venue-info {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 35.5em) {
    .speaker-photo {
        width: 25%;
    }
    .speaker-info {
        width: 75%;
        padding-left: 2rem;
    }
    .speaker-name {
        text-align: left;
    }

    .sponsor {
        width: 50%;
        text-align: left;
    }
    #new_economy {
        text-align: right;
    }
}

@media screen and (min-width: 37.5em) {
    .brand {
        margin-top: 1rem;
    }
    .brand-mark {
        display: block;
        width: 140px;
        margin: 2rem auto;
    }

    .venue-info {
        width: auto;
        top: 1rem;
        left: 1rem;
        box-shadow: 0 0 2px #18290a;
    }

    .sponsor-logo {
        height: 80px;
    }
}

@media screen and (min-width: 48em) {
    .brand {
        margin-top: 2rem;
    }
    .brand-name {
        font-size: 1.5rem;
    }
    .brand-mark {
        display: block;
        width: 160px;
        margin: 4rem auto;
    }

    .event-title {
        font-size: 2.5rem;
        margin-top: 0.5rem;
    }
    .event-spacetime {
        font-size: 1.75rem;
    }
    .event-spacetime-sep {
        margin: 0 0.5rem;
    }
    .event-time {
        font-size: 1.375rem;
    }
    .event .event-cta {
        margin: 2.25rem 0;
    }
    .event-attend {
        font-size: 1.5rem;
    }
    .event-desc {
        font-size: 1.25rem;
    }

    .speaker-name {
        font-size: 1.75rem;
    }
}

@media screen and (min-height: 40em) {
    .venue {
        height: 66%
    }
}
