<p>
    James Gifford is a Senior Research Fellow at the Initiative for Responsible Investment at the Harvard Kennedy School, where he researches sustainable investment in emerging markets and delivering positive impact within mainstream investment strategies. He is also a Senior Strategic Adviser for Tau Investment Management, a turnaround fund that invests in unsustainable apparel and textile companies and transforms them into sustainable and ethical enterprises.
</p>
<p>
    He was the founding Executive Director of the UN-supported Principles for Responsible Investment, taking the initiative from inception in 2003 and building it, over 10 years, into the pre-eminent global initiative on responsible investment with 1,200 signatories representing US$ 30 trillion in assets. He has published numerous articles and book chapters on responsible investment. James has a PhD from the University of Sydney on the effectiveness of shareholder engagement in improving corporate environmental, social and governance performance, degrees in Commerce and Law, and a Master's in Environment Management. He speaks Indonesian and has established an NGO that supports young Indonesians to enter university.
</p>
