<p>
    Marjorie Kelly is a Senior Fellow and Director of Consultancy Services with The Democracy Collaborative, a non-profit research organization founded in 2000. She is also an Associate Fellow at the Tellus Institute, a 35-year old nonprofit research organization based in Boston, and the director of ownership strategy with Cutting Edge Capital, a national consulting firm. Marjorie was co-founder and for 20 years president of Business Ethics magazine, known for its annual ranking of the 100 Best Corporate Citizens and Social Investing Awards.
</p>
<p>
    She specializes in ownership and financial design for the “mission-controlled enterprise,” a term she devised to define the companies &mdash; including many large corporations in both the U.S. and Europe &mdash; that maintain a primary focus on social mission, even when they might be publicly traded.  She has experience working in many forms of ownership design, including cooperatives.
</p>
<p>
    Marjorie is author of the book, Owning Our Future: The Emerging Ownership Revolution, released June 2012 by Berrett-Koehler. In it, she explores many experiments with new forms of ownership, which she calls generative: aimed at creating the conditions for life for many generations to come. Her previous book, The Divine Right of Capital, was named one of Library Journal’s 10 Best Business Books of 2001. Marjorie’s writings and op-eds have appeared in many publications, including Harvard Business Review, New England Law Review, Chief Executive, Boston Globe, Yes! Magazine, and San Francisco Chronicle.
</p>
